body {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  margin-bottom: 25px;
}

p {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0 0 25px;
}

i.logo {
  color: red;
  font-size: 52px;
}

hr {
  margin: 35px 0;
  border: 1px solid #dedede;
}

.center {
  margin: 0 auto;
  display: block;
  text-align: center;
}
